@model IEnumerable<MassGlobalTest.Models.Employee>

@{
	ViewBag.Title = "Index";
}

@using (Html.BeginForm("GetEmployees", "Home", FormMethod.Post))
{
	<div class="form-group">
		<label for="employeeId">Employee Id:</label>
		<input type="number" class="form-control" name="employeeId" id="employeeId" />
		<button type="submit" class="btn btn-primary">Get Employees</button>
	</div>
}



